

   <h2 style="text-align:center;padding-top:20px;">

		New password has been updated!

	</h2>

	<script type="text/javascript">

		var timer = 3; //seconds

		 website = 'http://www.knowledgelocker.com/'

		function delayer() {

		 window.location = website;

		}

	setTimeout('delayer()', 1000 * timer); 

	</script>